# Base Flags
common --enable_bzlmod
test --test_output=errors
coverage --combined_report=lcov

# Android flags to build for all Android platforms and use JVM 17 for build tools
common --android_platforms=@rules_android//:x86,@rules_android//:x86_64,@rules_android//:armeabi-v7a,@rules_android//:arm64-v8a
common --java_language_version=17
common --java_runtime_version=17
common --tool_java_language_version=17
common --tool_java_runtime_version=17
# Configure mobile-install to use @rules_android
mobile-install --mobile_install_aspect=@rules_android//mobile_install:mi.bzl --mobile_install_supported_rules=android_binary

# Base ci config for all executors. Other ci configs should inherit from this and add resource limitations.
common:ci-base --build_metadata=ROLE=CI
common:ci-base --remote_build_event_upload=minimal 
common:ci-base --nolegacy_important_outputs
common:ci-base --combined_report=lcov
# Only show progress every 60 seconds on CI.
# We want to find a compromise between printing often enough to show that the build isn't stuck,
# but not so often that we produce a long log file that requires a lot of scrolling.
# https://bazel.build/reference/command-line-reference#flag--show_progress_rate_limit
common:ci-base --show_progress_rate_limit=60
# Circle large base executor, 4 cores, 8gb ram
common:ci --config=ci-base --local_resources=cpu=4 --local_resources=memory=8192
# Circle m4pro.medium 6 cores 28gb ram (?)
common:ci-mac --config=ci-base --local_resources=cpu=4 --local_resources=memory=26000

# Cache Config
common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_download_toplevel
common --remote_timeout=3600
common --build_metadata=REPO_URL=https://github.com/player-ui/devtools.git
common --remote_cache_compression --remote_cache_async


# Release Configs
build:release --config=ci --stamp --workspace_status_command=./helpers/release/workspace-status.sh

# Javascript Specific Configs
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

try-import %workspace%/.bazelrc.local